body{
    background-color: #b1b1b1;
}
#searchResults { 
    float:left;  
} 
#nominationList{ 
    float:right;  
} 
span{
    padding: 10px;
}
#searchParam{
    width: 500px;
}
.mainDivs{
    background-color: #696969;
    padding: 5px;
}